<%- layout('layouts/main') %>


<h1>perfil</h1>


informacion del usuario
<div class="card card-body">

    <h3><%=user.email%></h3>
    
    Tu ID es:
    <p>
        <%=user.id%>
    </p>

    genera tu cita aqui!
    
    
</div>


